<%- include('partials/header'); -%>
    <h1>hello from ejs views</h1> 
    <a href="/about"><button>about</button></a>
    <a href="/contact"><button>contact</button></a>
<%- include('partials/footer'); -%>

